.imgs{
    margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .img{
    
      width: 100%;
    }
    .p{
      font-size: 26px;
      font-weight: bolder;
    }
    